/***** CLEARFIX is applied to the parent of floated elements *************/
/*************************************************************************/
/* line 13, ../scss/style.scss */
.clearfix {
  zoom: 1;
}
/* line 15, ../scss/style.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
/* line 19, ../scss/style.scss */
.clearfix:after {
  clear: both;
}

/* line 23, ../scss/style.scss */
body {
  font-family: "Lato", sans-serif;
}

/* line 26, ../scss/style.scss */
img {
  display: block;
}

/* line 29, ../scss/style.scss */
h1 {
  font-size: 4em;
  color: white;
  text-align: center;
  text-shadow: 1px 1px #f2f2f2;
}

/* line 35, ../scss/style.scss */
h2 {
  text-align: center;
}

/* line 38, ../scss/style.scss */
p {
  font-size: 2em;
  color: #255c8e;
}

/* line 43, ../scss/style.scss */
.wrapper {
  width: 90%;
  margin: 0 auto;
  padding: 2em 0px;
}

/***** SITE STYLES *************/
/**********************************/
/* line 53, ../scss/style.scss */
.navigation {
  padding: 1.2em;
  background-color: #3885cb;
}
/* line 57, ../scss/style.scss */
.navigation img {
  display: inline-block;
  max-width: 30px;
}
/* line 61, ../scss/style.scss */
.navigation ul {
  float: right;
  display: inline-block;
  padding: 0px;
  margin: 0px;
}
/* line 67, ../scss/style.scss */
.navigation li {
  color: white;
  display: inline-block;
}
/* line 71, ../scss/style.scss */
.navigation a {
  text-decoration: none;
  color: #b2cfeb;
}

/* line 77, ../scss/style.scss */
.header {
  background: #a7eef9;
  /* Old browsers */
  background: -moz-linear-gradient(left, #a7eef9 1%, #a7eef9 41%, #bcfff7 101%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #a7eef9 1%, #a7eef9 41%, #bcfff7 101%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #a7eef9 1%, #a7eef9 41%, #bcfff7 101%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7eef9', endColorstr='#bcfff7',GradientType=1 );
  /* IE6-9 */
}
/* line 83, ../scss/style.scss */
.header copy
img {
  width: 40%;
  margin: 0 auto;
  max-width: 300px;
  padding: 1.5em;
}
/* line 92, ../scss/style.scss */
.header .col3 img {
  display: block;
  max-width: 200px;
}
/* line 97, ../scss/style.scss */
.header h2 {
  color: #255c8e;
}

/* line 103, ../scss/style.scss */
.secondary-content {
  background-color: #619ed6;
}

@media screen and (min-width: 625px) {
  /* line 110, ../scss/style.scss */
  .header .wrapper {
    width: 85%;
    margin: 0 auto;
  }
  /* line 114, ../scss/style.scss */
  .header .col3 {
    display: inline-block;
    width: 30%;
    margin-left: 3%;
    text-align: center;
  }
  /* line 119, ../scss/style.scss */
  .header .col3 h2 {
    text-align: center;
  }
  /* line 122, ../scss/style.scss */
  .header .col3 img {
    margin: 0 auto;
  }
}
