/***** CLEARFIX is applied to the parent of floated elements *************/
/*************************************************************************/
/* line 13, ../scss/style.scss */
.clearfix {
  zoom: 1;
}
/* line 15, ../scss/style.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
/* line 19, ../scss/style.scss */
.clearfix:after {
  clear: both;
}

/* line 23, ../scss/style.scss */
body {
  font-family: "Lato", sans-serif;
}

/* line 26, ../scss/style.scss */
img {
  display: block;
}

/* line 29, ../scss/style.scss */
h1 {
  font-size: 2em;
  color: #255c8e;
  text-align: center;
}

/* line 34, ../scss/style.scss */
h2 {
  text-align: center;
}

/* line 37, ../scss/style.scss */
p {
  color: #255c8e;
}

/* line 41, ../scss/style.scss */
.wrapper {
  width: 90%;
  margin: 0 auto;
  padding: 2em 0px;
}

/***** SITE STYLES *************/
/**********************************/
/* line 51, ../scss/style.scss */
.navigation {
  padding: 1.2em 0px;
  background-color: #3885cb;
}
/* line 55, ../scss/style.scss */
.navigation img {
  display: inline-block;
  max-width: 30px;
}
/* line 59, ../scss/style.scss */
.navigation ul {
  float: right;
  display: inline-block;
  padding: 0px;
  margin: 0px;
}
/* line 65, ../scss/style.scss */
.navigation li {
  color: white;
  display: inline-block;
}
/* line 69, ../scss/style.scss */
.navigation a {
  text-decoration: none;
  color: #b2cfeb;
}

/* line 75, ../scss/style.scss */
.header {
  background-color: #75aadb;
}
/* line 77, ../scss/style.scss */
.header img {
  width: 40%;
  margin: 0 auto;
  max-width: 300px;
  padding: 1.5em;
}
/* line 84, ../scss/style.scss */
.header .col3 img {
  display: block;
  max-width: 200px;
}
/* line 89, ../scss/style.scss */
.header h2 {
  color: #255c8e;
}

/* line 95, ../scss/style.scss */
.secondary-content {
  background-color: #619ed6;
}

@media screen and (min-width: 625px) {
  /* line 102, ../scss/style.scss */
  .header .wrapper {
    width: 85%;
    margin: 0 auto;
  }
  /* line 106, ../scss/style.scss */
  .header .col3 {
    display: inline-block;
    width: 30%;
    margin-right: 3%;
    text-align: center;
  }
}
