@import "Compass";
/***** CLEARFIX is applied to the parent of floated elements *************/
/*************************************************************************/
	$darkerblue:#255c8e;
	$darkblue:#3885cb;
	$skyblue:#75aadb;
	$lightblue:#b2cfeb;
	$midblue:#619ed6;
	$grey:#faf9f9;
	$orange:#ef6508;
	$lightorange:#ec843e;
	$black:#2e2f2f;



.clearfix {
    zoom: 1;
    &:before, &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

*, *:before, *:after {
  box-sizing: inherit;
}

body{
	font-family: "Lato", sans-serif;
	color:$black;
}
img{
	display:block;
}
h1{
	text-align: center;
	color:#353535;
	text-shadow:0.5px 0.5px grey;
	margin:0;
	font-size:2.5em;
}
h2{
	text-align:center;
	color:#353535;
	text-shadow:0.5px 0.5px grey;
	margin:0;
	font-size:2.2em;
}
h3{
	text-align:center;
	color:white;
	font-weight:100;
	font-size:1.5em;
}
p{
	color:$darkerblue;
	font-weight:100;
	font-size:1.3em;
}
button{
	text-align:center;
	color:white;
	border:none;
	background-color: $orange;
	margin:0 0.5em;
	border-radius: 50px;
	padding: 10px 25px;
	transition: 0.4s ease all;
	min-width:90px;
	max-width:100px;
	width:20%;
	margin:0.5em 0.5em;
	&:hover{
		background-color:$lightorange;
		}
	}
.wrapper{
	width:95%;
	margin: 0 auto;
}

/***** SITE STYLES *************/
/**********************************/

.navigation{
	position:fixed;
	top:0;
	text-align:right;
	width:100%;
	background-color:white;
	padding:2em 0;
	z-index:10;
	-webkit-box-shadow: 0px 1px 1px 0px rgba(140,140,140,1);
	-moz-box-shadow: 0px 1px 1px 0px rgba(140,140,140,1);
	box-shadow: 0px 1px 1px 0px rgba(140,140,140,1);
	nav{

	}
	ul{
		display:block;
		padding:0em 1em;
		margin:0px;
	}
	li{
		color:white;
		display: inline-block;
		padding:0px 2%;
	}
	a{
		text-decoration: none;
		color:$darkerblue;
		font-size: 1em;
		&:hover{
			color:$orange;
		}
	}
	.logo{
		position:absolute;
		left:.5em;
		top:1em;
		width:40%;
		max-width: 80px;
		z-index: 20;
	}
}

.header{	
	background:linear-gradient(68deg,$skyblue,$darkerblue);
	position: relative;
	padding-top:4em;
}

.content{
	padding:4em 0 0em 0;
	width:100%;
	position:relative;
	h1{
		color:#2d2d2d;
	}
	p{
		text-align:center;
		color:white;
		font-size: 1.5em;
		font-weight: 100;
	}
	.background-logo{
		width: 60%;
		margin: 0 auto;
		max-width: 400px;
	}
	.button-container{
		width: 80%;
		margin:0 auto;
		text-align: center;
		padding-top:1em;
	}
	.laptop-container{
		width: 80%;
		margin:0 auto;
		.laptop{
		width: 100%;
		margin:0 auto;
		max-width: 700px;
		position:relative;
		bottom:-70px;
		}	
	}

}


.secondary-content{
	padding:8em 0 4em 0;
	background-color:white;
	border-bottom:1px solid $grey;
	max-width:1000px;
	width:90%;
	margin:0 auto;
	.icon-container{
		padding:1.5em 0;
		div{
			padding:2em 0;
		}
		img{
			padding:1em;
			width: 50%;
			margin:0 auto;
			max-width: 125px;
		}
		h3{
			color:$black;
			font-weight:400;
		}
	}
	.fa{
		margin: 0 0.15em;
		color:$black;
	}
	p{
		text-align:center;
		width: 90%;
		max-width: 800px;
		margin: 1em auto;
	}
}
.form{
	background-color:$grey;
	padding:4em;
	form{
		width: 80%;
		padding:2em;
		max-width: 700px;
		margin:0 auto;
	}
	input{
		display: block;
		margin:1em 0em;
		width: 100%;
		padding:10px;
	}
	textarea{
		display: block;
		width: 100%;
    	height: 150px;
    	padding:10px;
	}
	button{
		display: block;
		margin:0 auto;
	}
}
footer{
	padding:4em 0;
	background-color:#2d2d2d;
	a{
		color:$skyblue;
		text-decoration: none;
	}
	img{
		width:80%;
		max-width: 200px;
		margin: 0 auto;
	}
	ul{
		text-align:center;
		list-style: none;
		padding:0;
	}
	li{
		display: inline-block;
		margin:0 1em;
		&:hover{
			opacity:0.8;
		}
	}
	p{
		color:black;
		font-size: 0.8em;
		text-align:center;
	}
}

@media screen and (min-width: 430px) {
	.navigation{
		position:fixed;
		top:0;
		text-align:right;
		width:100%;
		background-color:white;
		padding:2em 0;
		z-index:10;
		border-bottom:1px solid $grey;
		nav{

		}
		ul{
			display:block;
			padding:0em 1em;
			margin:0px;
		}
		li{
			color:white;
			display: inline-block;
			padding:0px 2%;
		}
		a{
			text-decoration: none;
			color:$darkerblue;
			font-size: 1em;
			&:hover{
				color:$orange;
			}
		}
		.logo{
			position:absolute;
			left:2em;
			top:1em;
			width:40%;
			max-width: 80px;
			z-index: 20;
		}
	}
	.content{
		h1{
			font-size: 3.2em;
		}
	}
	.secondary-content{
		h2{
			font-size:2.5em;
		}
	}
	
}


@media screen and (min-width: 800px) {
	.wrapper{
		max-width: 1000px;
	}
	.secondary-content{
		.icon-container{
			div{
				width: 29%;
				float: left;
				padding: 2%;
			}
		}
	}
}

@charset "UTF-8";

/*
    Name: YouTubePopUp
    Description: jQuery plugin to display YouTube video in PopUp, responsive and retina, easy to use.
    Version: 1.0.0
    Plugin URL: http://wp-time.com/youtube-popup-jquery-plugin/
    Written By: Qassim Hassan
    Twitter: @QQQHZ
    Websites: wp-time.com | qass.im | wp-plugins.in
    Dual licensed under the MIT and GPL licenses:
        http://www.opensource.org/licenses/mit-license.php
        http://www.gnu.org/licenses/gpl.html
    Copyright (c) 2016 - Qassim Hassan
*/

.YouTubePopUp-Wrap{
    position:fixed;
    width:100%;
    height:100%;
    background-color:#000;
    background-color:rgba(0,0,0,0.8);
    top:0;
    left:0;
    opacity: 0;
    z-index:9999999999999;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: YouTubePopUp;
    animation-name: YouTubePopUp;
}

@-webkit-keyframes YouTubePopUp {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes YouTubePopUp {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

body.logged-in .YouTubePopUp-Wrap{ /* For WordPress */
    top:32px;
    z-index:99998;
}

.YouTubePopUp-Content{
    max-width:680px;
    display:block;
    margin:0 auto;
    height:100%;
    position:relative;
}

.YouTubePopUp-Content iframe{
    max-width:100% !important;
    width:100% !important;
    display:block !important;
    height:480px !important;
    border:none !important;
    position:absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
}

.YouTubePopUp-Hide{
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: YouTubePopUpHide;
    animation-name: YouTubePopUpHide;
}

@-webkit-keyframes YouTubePopUpHide {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes YouTubePopUpHide {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.YouTubePopUp-Close{
    position:absolute;
    top:0;
    cursor:pointer;
    bottom:528px;
    right:0px;
    margin:auto 0;
    width:24px;
    height:24px;
    background:url(close.png) no-repeat;
    background-size:24px 24px;
    -webkit-background-size:24px 24px;
    -moz-background-size:24px 24px;
    -o-background-size:24px 24px;
}

.YouTubePopUp-Close:hover{
    opacity:0.5;
}

@media all and (max-width: 768px) and (min-width: 10px){
    .YouTubePopUp-Content{
        max-width:90%;
    }
}

@media all and (max-width: 600px) and (min-width: 10px){
    .YouTubePopUp-Content iframe{
        height:320px !important;
    }

    .YouTubePopUp-Close{
        bottom:362px;
    }
}

@media all and (max-width: 480px) and (min-width: 10px){
    .YouTubePopUp-Content iframe{
        height:220px !important;
    }

    .YouTubePopUp-Close{
        bottom:262px;
    }
}



