@import "Compass";
/***** CLEARFIX is applied to the parent of floated elements *************/
/*************************************************************************/
	$darkerblue:#255c8e;
	$darkblue:#3885cb;
	$skyblue:#75aadb;
	$lightblue:#b2cfeb;
	$midblue:#619ed6;
	$grey:#96a9ba;
	$border:0.5px solid $grey;



.clearfix {
    zoom: 1;
    &:before, &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

*, *:before, *:after {
  box-sizing: inherit;
}

body{
	font-family: "Lato", sans-serif;
}
img{
	display:block;
}
h1{
	font-size:2.85em;
	text-align: center;
	color:#353535;
	text-shadow:0.5px 0.5px grey;
}
h2{
	text-align:center;
}
p{
	color:$darkerblue;
	font-weight:300;
}

.wrapper{
	width:90%;
	margin:0 auto;
	padding:1em 0px;
}

/***** SITE STYLES *************/
/**********************************/


.navigation{
	padding:1.2em;
	text-align:center;
	img{
		display:inline-block;
		max-width: 50px;
	}
	ul{
		display:block;
		padding:1em 0px;
		margin:0px;
	}
	li{
		color:white;
		display: inline-block;
		padding:0px 2%;
	}
	a{
		text-decoration: none;
		color:white;
		font-size: 1.5em;
	}
	button{
		text-align:center;
	}
}

.header{	
	background: -webkit-linear-gradient(90deg, #75aadb 69%, #4f7aba 90%);
	img{
		width:30%;
		margin:0 auto;
		max-width: 300px;
		padding-top:1em;
	}
	p{
		text-align:center;
		font-size: 1.5em;
		padding:0.5em;
	}
	.col3{
		img{
			width:90%;
			display:block;
			max-width: 200px;
		}
		h2{
			color:white;
			font-size: 1.5em;
			font-weight: 400;
		}	
	}
}
.user-input{
	padding:2em;
	background-color:$darkerblue;
	input{
		display: block;
		background-color: white;
	    @include border-radius(5px);
	    width: 80%;
	    margin:0 auto;
	    font-size: 1em;
	    border: solid 1px $grey;
	    padding: 10px 8px;
	    margin-bottom:4px;

	}
	button{
		display: block;
		margin:5px 0px;
		padding: 10px 8px;
		width: 80%;
		margin:0 auto;
		font-size: 1em;
		background-color:red;
		color:white;
		@include border-radius(5px);
		border:none;
	}
}

.content{
	padding:2em 0px;
	h1{
		color:#2d2d2d;
	}
	p{
		text-align:center;
		color:$darkerblue;
		font-size: 1.5em;
	}
	.responsive-video {
		display: block;
		width:80%;
		margin:0 auto;
		height: auto;
		box-shadow: 0 0 3px #2d2d2d;
	}
}


.secondary-content{
	background-color:$midblue;
}
footer{
	background-color:#2d2d2d;
	a{
		color:green;
	}
	img{
		width:80%;
		max-width: 100px;
	}
}

@media screen and (min-width: 625px) {
	.header{
		.wrapper{
			width: 85%;
			margin: 0 auto;
		}
		.col3{
			display:inline-block;
			width:30%;
			margin-left: 3%;
			text-align: center;
			h2{
				text-align: center;
			}
			img{
				margin:0 auto;
			}
		}
	}
	.user-input{
		text-align:center;
		input{
			display: inline-block;
			max-width:330px;
			margin-right:2px;
		}
		button{
			display: inline-block;
			max-width: 330px;
		}
	}
}









